[phases.build]
cmds = ["npm ci", "npm run build"]

[start]
cmd = "cp /app/nginx.conf /etc/nginx/conf.d/default.conf && envsubst '$PORT' < /app/nginx.conf > /etc/nginx/conf.d/default.conf && cp -r /app/dist/* /usr/share/nginx/html/ && nginx -g 'daemon off;'"
